@model LintasMVC.Models.ShipmentsModels

@{
    ViewBag.Root = "Shipments";
    ViewBag.Title = "Create";
}

<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <a href="@Url.Action("Index", "Shipments")" class="breadcrumb-item">@ViewBag.Root</a>
                    <span class="breadcrumb-item active">@ViewBag.Title</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm("Create", "Shipments", FormMethod.Post, new { id = "target" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="Timestamp" name="Timestamp" value="@DateTime.Now" />
            <input type="hidden" id="items_selected" name="items_selected" />
            <input type="hidden" id="Items_List" name="Items_List" />
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">@ViewBag.Root</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">@ViewBag.Title</legend>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.No, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.No, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.No, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Forwarders_Id, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(model => model.Forwarders_Id, ViewBag.listForwarders as SelectList, "Select Forwarders", new { @class = "form-control select2" })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.Forwarders_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AWB, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.AWB, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.AWB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.ValidationMessage("Items", "", new { @class = "text-danger" })
                        <div class="table-responsive">
                            <table class="table table-striped table-hover datatable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>No</th>
                                        <th>Price</th>
                                        <th>Courier</th>
                                        <th>Dimension (cm)</th>
                                        @*<th>Length (cm)</th>
                                        <th>Width (cm)</th>
                                        <th>Height (cm)</th>*@
                                        <th>Weight (gr)</th>
                                        <th>Notes</th>
                                        <th class="never">Row</th>
                                    </tr>
                                </thead>
                                <tbody id="data-body">
                                    @if (ViewBag.listItems != null)
                                    {
                                        foreach (var item in ViewBag.listItems)
                                        {
                                            bool isPaymentCompleted = false;
                                            using (var ctx = new LintasMVC.Models.LintasContext())
                                            {
                                                Guid shippingsId = item.Shippings_Id;
                                                var inv = ctx.Invoices.Where(x => x.Ref_Id == shippingsId).FirstOrDefault();
                                                if (inv.TotalAmount == inv.TotalPaid) { isPaymentCompleted = true; }
                                            }

                                            if (isPaymentCompleted)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.No</td>
                                                    <td><input type="text" class="form-control price" /></td>
                                                    <td><input type="text" class="form-control courier" /></td>
                                                    <td>@item.Length x @item.Width x @item.Height</td>
                                                    @*<td>@item.Length</td>
                                                    <td>@item.Width</td>
                                                    <td>@item.Height</td>*@
                                                    <td>@item.Weight</td>
                                                    <td>@item.Notes</td>
                                                    <td>@item.Id</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </fieldset>
                    <div>
                        <a href="@Url.Action("Index", "Shipments")" class="btn btn-warning">Cancel <i class="icon-cross2 ml-2"></i></a>
                        <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </div>
            </div>
			<!-- /form inputs -->
        }
    </div>
    <!-- /content area -->

</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('.select2').select2();

        $('.tanggal').pickadate({
            format: 'yyyy/mm/dd',
            selectMonths: true,
            selectYears: true
        });

        // Setting datatable defaults
        $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [{
                orderable: false,
                width: 100,
                targets: [0]
            }],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
            }
        });

        var datatable = $('.datatable').DataTable({
            columnDefs: [
                {
                    render: function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<div class="checkbox"><input type="checkbox" class="dt-checkboxes mb-3"><label></label></div>';
                        }

                        return data;
                    },
                    checkboxes: {
                        selectRow: true,
                        selectAllRender: '<div class="checkbox"><input type="checkbox" class="dt-checkboxes mb-3"><label></label></div>'
                    },
                    orderable: false,
                    //className: 'select-checkbox',
                    targets: 0
                },
                {
                    visible: false, targets: [7]
                }
            ],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            pagingType: 'full_numbers',
            order: [[1, 'asc']]
        });

        $('#target').submit(function (e) {
            //e.preventDefault();
            var ids_selected = datatable.column(0).checkboxes.selected();
            $('#items_selected').val(ids_selected.join(","));

            var arrItem = [];
            $('#data-body tr').each(function () {
                var price = parseFloat($(this).find('input.price').val());
                var courier = $(this).find('input.courier').val();
                var id = datatable.row(this).data()[7];
                var obj = { price: price, courier: courier, id: id };
                arrItem.push(obj);
            });
            $('#Items_List').val(JSON.stringify(arrItem));
        });

    });
</script>