@model LintasMVC.Models.CustomerFormsIndexViewModels

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/assets/js/main/jquery.min.js"></script>
    <script src="~/assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/assets/js/plugins/forms/wizards/steps.min.js"></script>
    <script src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <!-- /theme JS files -->
</head>
<body class="bg-slate-800">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <!-- Step Form -->
                <div class="card">

                    <div class="card-header bg-white header-elements-inline">
                        <span class="text-uppercase font-size-sm font-weight-bold">@ViewBag.Title</span>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>

                    <form class="shipping-form steps-validation" action="#" data-fouc>
                        <!-- Customer -->
                        <h6>Customer</h6>
                        <fieldset>
                            <label class="customer-validation text-danger" style="display: none"></label>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3">Customer Name</label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    @Html.EditorFor(model => model.Customer.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Customer.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-4">
                                                    @Html.EditorFor(model => model.Customer.MiddleName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle Name", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Customer.MiddleName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-4">
                                                    @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Customer.Company, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Customer.Company, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Customer.Company, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Customer.Address, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Customer.Address, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Customer.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Customer.Address2, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Customer.Address2, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Customer.Address2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Customer.City, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Customer.City, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Customer.City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Customer.State, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Customer.State, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Customer.State, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3">Countries / Postal Code</label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    @Html.DropDownListFor(model => model.Customer.Countries_Id, ViewBag.listCountries as SelectList, "Select Country", new { @class = "form-control select2", @onkeyup = "Preview()" })
                                                    @Html.ValidationMessageFor(model => model.Customer.Countries_Id, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-4">
                                                    @Html.EditorFor(model => model.Customer.Zipcode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Postal Code", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Customer.Zipcode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3">Mobile / Phone</label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Customer.Phone1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Customer.Phone1, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Customer.Phone2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Customer.Phone2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3">Fax / Email</label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Customer.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fax", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Customer.Fax, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Customer.Notes, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Customer.Notes, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Customer.Notes, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float: right; margin-bottom: 20px">
                                <button type="button" class="btn btn-primary btn-sm previous-step" disabled><i class="icon-arrow-left13 mr-2"></i> Previous</button>
                                <button type="button" class="btn btn-primary btn-sm next-step">Next <i class="icon-arrow-right14 ml-2"></i></button>
                            </div>
                        </fieldset>
                        <!-- /Customer -->
                        <!-- Shipping -->
                        <h6>Shipping</h6>
                        <fieldset>
                            <label class="shipping-validation text-danger" style="display: none"></label>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3">Stations</label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    @Html.DropDownListFor(model => model.Shipping.Origin_Stations_Id, ViewBag.listStations as SelectList, "Select Origin", new { @class = "form-control select2", @onkeyup = "Preview()" })
                                                    @Html.ValidationMessageFor(model => model.Shipping.Origin_Stations_Id, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-6">
                                                    @Html.DropDownListFor(model => model.Shipping.Destination_Stations_Id, ViewBag.listStations as SelectList, "Select Destination", new { @class = "form-control select2", @onkeyup = "Preview()" })
                                                    @Html.ValidationMessageFor(model => model.Shipping.Destination_Stations_Id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check mb-1">
                                        <label class="form-check-label">
                                            <input type="checkbox" id="chkCustomer" class="check-styled-primary" data-fouc>
                                            Send to Customer's Address
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Shipping.ReceiverName, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Shipping.ReceiverName, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Shipping.ReceiverName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Shipping.Company, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Shipping.Company, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Shipping.Company, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Shipping.Address, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Shipping.Address, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Shipping.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Shipping.Address2, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Shipping.Address2, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Shipping.Address2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Shipping.City, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Shipping.City, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Shipping.City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Shipping.State, htmlAttributes: new { @class = "col-form-label col-lg-3" })
                                        <div class="col-lg-9">
                                            @Html.EditorFor(model => model.Shipping.State, new { htmlAttributes = new { @class = "form-control", @onkeyup = "Preview()" } })
                                            @Html.ValidationMessageFor(model => model.Shipping.State, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3">Country / Postal Code</label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    @Html.EditorFor(model => model.Shipping.Country, new { htmlAttributes = new { @class = "form-control", @placeholder = "Country", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Shipping.Country, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-4">
                                                    @Html.EditorFor(model => model.Shipping.PostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Postal Code", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Shipping.PostalCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3">Mobile / Phone</label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Shipping.Phone1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Shipping.Phone1, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Shipping.Phone2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Shipping.Phone2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3">Fax / Email</label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Shipping.Fax, new { htmlAttributes = new { @class = "form-control", @placeholder = "Fax", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Shipping.Fax, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Shipping.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Shipping.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3">Tax Number / Notes</label>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Shipping.TaxNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tax Number", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Shipping.TaxNumber, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-lg-6">
                                                    @Html.EditorFor(model => model.Shipping.Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", @onkeyup = "Preview()" } })
                                                    @Html.ValidationMessageFor(model => model.Shipping.Notes, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float: right; margin-bottom: 20px">
                                <button type="button" class="btn btn-primary btn-sm previous-step"><i class="icon-arrow-left13 mr-2"></i> Previous</button>
                                <button type="button" class="btn btn-primary btn-sm next-step">Next <i class="icon-arrow-right14 ml-2"></i></button>
                            </div>
                        </fieldset>
                        <!-- /Shipping -->
                        <!-- Preview -->
                        <h6>Preview</h6>
                        <fieldset>
                            <label class="shipping-validation text-danger" style="display: none"></label>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header bg-white header-elements-inline">
                                            <span class="text-uppercase font-size-sm font-weight-bold">Customer</span>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-sm table-bordered table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td>Fullname</td>
                                                            <td class="customer-fullname" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Company</td>
                                                            <td class="customer-company" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Address 1</td>
                                                            <td class="customer-address1" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Address 2</td>
                                                            <td class="customer-address2" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>City / State</td>
                                                            <td class="customer-city"></td>
                                                            <td class="customer-state"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Country / Postal Code</td>
                                                            <td class="customer-country"></td>
                                                            <td class="customer-postalcode"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mobile / Phone</td>
                                                            <td class="customer-mobile"></td>
                                                            <td class="customer-phone"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fax / Email</td>
                                                            <td class="customer-fax"></td>
                                                            <td class="customer-email"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Notes</td>
                                                            <td class="customer-notes" colspan="2"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header bg-white header-elements-inline">
                                            <span class="text-uppercase font-size-sm font-weight-bold">Shipping</span>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-sm table-bordered table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td>Origin / Destination</td>
                                                            <td class="shipping-origin"></td>
                                                            <td class="shipping-destination"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Receiver / Company</td>
                                                            <td class="shipping-receiver"></td>
                                                            <td class="shipping-company"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Address 1</td>
                                                            <td class="shipping-address1" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Address 2</td>
                                                            <td class="shipping-address2" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>City / State</td>
                                                            <td class="shipping-city"></td>
                                                            <td class="shipping-state"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Country / Postal Code</td>
                                                            <td class="shipping-country"></td>
                                                            <td class="shipping-postalcode"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mobile / Phone</td>
                                                            <td class="shipping-mobile"></td>
                                                            <td class="shipping-phone"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fax / Email</td>
                                                            <td class="shipping-fax"></td>
                                                            <td class="shipping-email"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tax / Notes</td>
                                                            <td class="shipping-tax"></td>
                                                            <td class="shipping-notes"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="float: right; margin-bottom: 20px">
                                <button type="button" class="btn btn-primary btn-sm previous-step"><i class="icon-arrow-left13 mr-2"></i> Previous</button>
                                <button type="button" class="btn btn-primary btn-sm submit-step">Submit Form <i class="icon-arrow-right14 ml-2"></i></button>
                            </div>
                        </fieldset>
                        <!-- /Preview -->
                    </form>

                </div>
                <!-- /Step Form -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</body>
</html>

<script type="text/javascript">

    function ClearCustomer() {
        $('#Shipping_ReceiverName').val('');
        $('#Shipping_Company').val('');
        $('#Shipping_Address').val('');
        $('#Shipping_Address2').val('');
        $('#Shipping_City').val('');
        $('#Shipping_State').val('');
        $('#Shipping_Country').val('');
        $('#Shipping_CountryCode').val('');
        $('#Shipping_PostalCode').val('');
        $('#Shipping_Phone1').val('');
        $('#Shipping_Phone2').val('');
        $('#Shipping_Fax').val('');
        $('#Shipping_Email').val('');
    }

    function Preview() {
        $('.customer-fullname').html($('#Customer_FirstName').val() + ' ' + $('#Customer_MiddleName').val() + ' ' + $('#Customer_LastName').val());
        $('.customer-company').html($('#Customer_Company').val());
        $('.customer-address1').html($('#Customer_Address').val());
        $('.customer-address2').html($('#Customer_Address2').val());
        $('.customer-city').html($('#Customer_City').val());
        $('.customer-state').html($('#Customer_State').val());
        $('.customer-country').html($('#Customer_Countries_Id option:selected').text());
        $('.customer-postalcode').html($('#Customer_Zipcode').val());
        $('.customer-mobile').html($('#Customer_Phone1').val());
        $('.customer-phone').html($('#Customer_Phone2').val());
        $('.customer-fax').html($('#Customer_Fax').val());
        $('.customer-email').html($('#Customer_Email').val());
        $('.customer-notes').html($('#Customer_Notes').val());

        $('.shipping-origin').html($('#Shipping_Origin_Stations_Id option:selected').text());
        $('.shipping-destination').html($('#Shipping_Destination_Stations_Id option:selected').text());
        $('.shipping-receiver').html($('#Shipping_ReceiverName').val());
        $('.shipping-company').html($('#Shipping_Company').val());
        $('.shipping-address1').html($('#Shipping_Address').val());
        $('.shipping-address2').html($('#Shipping_Address2').val());
        $('.shipping-city').html($('#Shipping_City').val());
        $('.shipping-state').html($('#Shipping_State').val());
        $('.shipping-country').html($('#Shipping_Country').val());
        $('.shipping-postalcode').html($('#Shipping_PostalCode').val());
        $('.shipping-mobile').html($('#Shipping_Phone1').val());
        $('.shipping-phone').html($('#Shipping_Phone2').val());
        $('.shipping-fax').html($('#Shipping_Fax').val());
        $('.shipping-email').html($('#Shipping_Email').val());
        $('.shipping-tax').html($('#Shipping_TaxNumber').val());
        $('.shipping-notes').html($('#Shipping_Notes').val());
    }

    $(document).ready(function () {
        
        var form = $('.steps-validation').show();

        //Basic wizard setup
        form.steps({
            headerTag: 'h6',
            bodyTag: 'fieldset',
            transitionEffect: 'fade',
            enableAllSteps: true,
            enablePagination: false,
            titleTemplate: '<span class="number">#index#</span> #title#',
            autoFocus: true,
            startIndex: @ViewBag.startIndex,
            labels: {
                previous: '<i class="icon-arrow-left13 mr-2" /> Previous',
                next: 'Next <i class="icon-arrow-right14 ml-2" />',
                finish: 'Submit form <i class="icon-arrow-right14 ml-2" />'
            },
            onStepChanging: function (event, currentIndex, newIndex) {
                // Allways allow previous action even if the current form is not valid!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Needed in some cases if the user went back (clean up)
                if (currentIndex < newIndex) {

                    // To remove error styles
                    form.find('.body:eq(' + newIndex + ') label.error').remove();
                    form.find('.body:eq(' + newIndex + ') .error').removeClass('error');
                }

                if (currentIndex === 0) {
                    if ($('#Customer_FirstName').val() == '') {
                        $('.customer-validation').html('The First Name field is required.').show();
                        return false;
                    }
                    else if ($('#Customer_LastName').val() == '') {
                        $('.customer-validation').html('The Last Name field is required.').show();
                        return false;
                    }
                    else if ($('#Customer_Address').val() == '') {
                        $('.customer-validation').html('The Address 1 field is required.').show();
                        return false;
                    }
                    else if ($('#Customer_City').val() == '') {
                        $('.customer-validation').html('The City field is required.').show();
                        return false;
                    }
                    else if ($('#Customer_State').val() == '') {
                        $('.customer-validation').html('The State field is required.').show();
                        return false;
                    }
                    else if ($('#Customer_Countries_Id').val() == '') {
                        $('.customer-validation').html('The Countries field is required.').show();
                        return false;
                    }
                    else if ($('#Customer_Phone1').val() == '') {
                        $('.customer-validation').html('The Mobile field is required.').show();
                        return false;
                    }
                    else {
                        $('.customer-validation').html('').hide();
                        return true;
                    }
                }
                else if (currentIndex === 1) {
                    if ($('#Shipping_Origin_Stations_Id').val() == '') {
                        $('.shipping-validation').html('The Origin Station field is required.').show();
                        return false;
                    }
                    else if ($('#Shipping_Destination_Stations_Id').val() == '') {
                        $('.shipping-validation').html('The Destination Station field is required.').show();
                        return false;
                    }
                    else if ($('#Shipping_ReceiverName').val() == '') {
                        $('.shipping-validation').html('The Receiver Name field is required.').show();
                        return false;
                    }
                    else if ($('#Shipping_Address').val() == '') {
                        $('.shipping-validation').html('The Address 1 field is required.').show();
                        return false;
                    }
                    else if ($('#Shipping_City').val() == '') {
                        $('.shipping-validation').html('The City field is required.').show();
                        return false;
                    }
                    else if ($('#Shipping_State').val() == '') {
                        $('.shipping-validation').html('The State field is required.').show();
                        return false;
                    }
                    else if ($('#Shipping_Country').val() == '') {
                        $('.shipping-validation').html('The Country field is required.').show();
                        return false;
                    }
                    else if ($('#Shipping_PostalCode').val() == '') {
                        $('.shipping-validation').html('The Postal Code field is required.').show();
                        return false;
                    }
                    else if ($('#Shipping_Phone1').val() == '') {
                        $('.shipping-validation').html('The Mobile field is required.').show();
                        return false;
                    }
                    else {
                        $('.shipping-validation').html('').hide();
                        return true;
                    }
                }

                //form.validate().settings.ignore = ':disabled,:hidden';
                //return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {

            },
            onFinishing: function (event, currentIndex) {
                //form.validate().settings.ignore = ':disabled';
                //return form.valid();

                if (currentIndex === 2) {
                    return true;
                }
            },
            onFinished: function (event, currentIndex) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveForms", "Forms")',
                    data: {
                        Customer_FirstName: $('#Customer_FirstName').val(),
                        Customer_MiddleName: $('#Customer_MiddleName').val(),
                        Customer_LastName: $('#Customer_LastName').val(),
                        Customer_Company: $('#Customer_Company').val(),
                        Customer_Address: $('#Customer_Address').val(),
                        Customer_Address2: $('#Customer_Address2').val(),
                        Customer_City: $('#Customer_City').val(),
                        Customer_State: $('#Customer_State').val(),
                        Customer_Countries_Id: $('#Customer_Countries_Id').val(),
                        Customer_PostalCode: $('#Customer_Zipcode').val(),
                        Customer_Phone1: $('#Customer_Phone1').val(),
                        Customer_Phone2: $('#Customer_Phone2').val(),
                        Customer_Fax: $('#Customer_Fax').val(),
                        Customer_Email: $('#Customer_Email').val(),
                        Customer_Notes: $('#Customer_Notes').val(),

                        Shipping_Origin_Stations_Id: $('#Shipping_Origin_Stations_Id').val(),
                        Shipping_Destination_Stations_Id: $('#Shipping_Destination_Stations_Id').val(),
                        Shipping_ReceiverName: $('#Shipping_ReceiverName').val(),
                        Shipping_Company: $('#Shipping_Company').val(),
                        Shipping_Address: $('#Shipping_Address').val(),
                        Shipping_Address2: $('#Shipping_Address2').val(),
                        Shipping_City: $('#Shipping_City').val(),
                        Shipping_State: $('#Shipping_State').val(),
                        Shipping_Country: $('#Shipping_Country').val(),
                        Shipping_PostalCode: $('#Shipping_PostalCode').val(),
                        Shipping_Phone1: $('#Shipping_Phone1').val(),
                        Shipping_Phone2: $('#Shipping_Phone2').val(),
                        Shipping_Fax: $('#Shipping_Fax').val(),
                        Shipping_Email: $('#Shipping_Email').val(),
                        Shipping_TaxNumber: $('#Shipping_TaxNumber').val(),
                        Shipping_Notes: $('#Shipping_Notes').val()
                    },
                    success: function (data) {
                        console.log(data);
                        window.location.href = '@Url.Action("Completed", "Forms")';
                    }, //end success
                    error: function (result) {
                        bootbox.alert("Error " + result);
                        isSuccess = false;
                    } //end error
                }); //end ajax
                
            }
        });

        $('.previous-step').click(function () {
            form.steps('previous');
        });

        $('.next-step').click(function () {
            form.steps('next');
        });

        $('.submit-step').click(function () {
            form.steps('finish');
        });

        $('.select2').select2();

        $('.check-styled-primary').uniform({
            wrapperClass: 'border-primary-600 text-primary-800'
        });

        $('#chkCustomer').click(function () {
            if ($(this).prop('checked') == false) {
                ClearCustomer();
            }
            else {
                $('#Shipping_ReceiverName').val($('#Customer_FirstName').val() + ' ' + $('#Customer_MiddleName').val() + ' ' + $('#Customer_LastName').val());
                $('#Shipping_Company').val($('#Customer_Company').val());
                $('#Shipping_Address').val($('#Customer_Address').val());
                $('#Shipping_Address2').val($('#Customer_Address2').val());
                $('#Shipping_City').val($('#Customer_City').val());
                $('#Shipping_State').val($('#Customer_State').val());
                $('#Shipping_Country').val($('#Customer_Countries_Id option:selected').text());
                //$('#Shipping_CountryCode').val($('#Customer_Countries_Id').val());
                $('#Shipping_PostalCode').val($('#Customer_Zipcode').val());
                $('#Shipping_Phone1').val($('#Customer_Phone1').val());
                $('#Shipping_Phone2').val($('#Customer_Phone2').val());
                $('#Shipping_Fax').val($('#Customer_Fax').val());
                $('#Shipping_Email').val($('#Customer_Email').val());

                Preview();
            }
        });

    });
</script>