@using LintasMVC.Common

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lintas - Linking Indonesia to Australia</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    @*<link href="~/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" />*@
    @*<link href="~/assets/css/tables/datatable/checkboxes.css" rel="stylesheet" />*@
    <link href="~/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/assets/css/tables/datatable/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="~/assets/js/main/jquery.min.js"></script>
    <script src="~/assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="~/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/assets/js/plugins/pickers/anytime.min.js"></script>
    <script src="~/assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="~/assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    @*<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>*@
    <script src="~/assets/js/plugins/forms/wizards/steps.min.js"></script>
    <script src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/assets/js/plugins/forms/inputs/inputmask.js"></script>
    <script src="~/assets/js/plugins/forms/validation/validate.min.js"></script>
    <script src="~/assets/js/plugins/extensions/cookie.js"></script>
    <script src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/assets/js/plugins/tables/datatables/extensions/select.min.js"></script>
    <script src="~/assets/js/plugins/tables/datatables/extensions/checkboxes.min.js"></script>
    <script src="~/assets/js/plugins/notifications/bootbox.min.js"></script>

    <script src="~/assets/js/app.js"></script>
    <!-- /theme JS files -->

</head>
<body> <!--use class="sidebar-xs" to hide left panel-->

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <a href="@Url.Action("Index", "Home")" class="d-inline-block">
                <img src="~/assets/images/logo_light.png" alt="">
            </a>
        </div>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
            <span class="navbar-text ml-md-3 mr-md-auto">
                <span class="badge bg-success">Online</span>
            </span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="~/assets/images/placeholders/user.png" class="rounded-circle" alt="">
                        <span>@User.Identity.GetFullName()</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-lock2"></i> Change Password</a>
                        <a href="@Url.Action("LogOff", "Account")" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->

    <!-- Page content -->
    <div class="page-content">
        
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <a href="#"><img src="~/assets/images/placeholders/user.png" width="38" height="38" class="rounded-circle" alt=""></a>
                            </div>
                            <div class="media-body">
                                <div class="media-title font-weight-semibold">@User.Identity.GetFullName()</div>
                                <div class="font-size-xs opacity-50">
                                    <i class="icon-pin font-size-sm"></i> &nbsp;@User.Identity.GetStation()
                                </div>
                            </div>
                            @*<div class="ml-3 align-self-center">
                                <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                            </div>*@
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Main</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "nav-link active" : "nav-link")">
                                <i class="icon-home4"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Conciergeplus"
                            || ViewContext.RouteData.Values["Controller"].ToString() == "Concierge"
                            || ViewContext.RouteData.Values["Controller"].ToString() == "Shipping"
                            ? "nav-item nav-item-submenu nav-item-expanded nav-item-open" : "nav-item nav-item-submenu")">
                            <a href="#" class="nav-link"><i class="icon-airplane2"></i> <span>Services</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Services">
                                <li class="nav-item"><a href="@Url.Action("Index", "Conciergeplus")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Conciergeplus" ? "nav-link active" : "nav-link")">Concierge Service PLUS</a></li>
                                <li class="nav-item"><a href="@Url.Action("Index", "Concierge")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Concierge" ? "nav-link active" : "nav-link")">Concierge Service</a></li>
                                <li class="nav-item"><a href="@Url.Action("Index", "Shipping")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Shipping" ? "nav-link active" : "nav-link")">Shipping Service</a></li>
                            </ul>
                        </li>
                        @*<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Customers"
                            || ViewContext.RouteData.Values["Controller"].ToString() == "Orders"
                            || ViewContext.RouteData.Values["Controller"].ToString() == "Invoices"
                            || ViewContext.RouteData.Values["Controller"].ToString() == "Payments"
                            ? "nav-item nav-item-submenu nav-item-expanded nav-item-open" : "nav-item nav-item-submenu")">
                            <a href="#" class="nav-link"><i class="icon-airplane2"></i> <span>Concierge Service PLUS</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Concierge Service PLUS">
                                <li class="nav-item"><a href="@Url.Action("Index", "Customers")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Customers" ? "nav-link active" : "nav-link")">Customers</a></li>
                                <li class="nav-item"><a href="@Url.Action("Index", "Orders")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Orders" ? "nav-link active" : "nav-link")">Orders</a></li>
                                <li class="nav-item"><a href="@Url.Action("Index", "Invoices")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Invoices" ? "nav-link active" : "nav-link")">Invoices</a></li>
                                <li class="nav-item"><a href="@Url.Action("Index", "Payments")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Payments" ? "nav-link active" : "nav-link")">Payments</a></li>
                            </ul>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "xxx"
                            ? "nav-item nav-item-submenu nav-item-expanded nav-item-open" : "nav-item nav-item-submenu")">
                            <a href="#" class="nav-link"><i class="icon-train2"></i> <span>Concierge Service</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Concierge Service">
                                <li class="nav-item"><a href="@Url.Action("Index", "xxx")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "xxx" ? "nav-link active" : "nav-link")">xxx</a></li>
                            </ul>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "xyz"
                            ? "nav-item nav-item-submenu nav-item-expanded nav-item-open" : "nav-item nav-item-submenu")">
                            <a href="#" class="nav-link"><i class="icon-truck"></i> <span>Shipping Service</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Shipping Service">
                                <li class="nav-item"><a href="@Url.Action("Index", "xyz")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "xyz" ? "nav-link active" : "nav-link")">xyz</a></li>
                            </ul>
                        </li>*@
                        <!-- /main -->
                        <!-- Setting -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Setting</div> <i class="icon-menu" title="Setting"></i></li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Role"
                            || ViewContext.RouteData.Values["Controller"].ToString() == "User"
                            ? "nav-item nav-item-submenu nav-item-expanded nav-item-open" : "nav-item nav-item-submenu")">
                            <a href="#" class="nav-link"><i class="icon-shield2"></i> <span>Admin</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Admin">
                                <li class="nav-item"><a href="@Url.Action("Index", "Role")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Role" ? "nav-link active" : "nav-link")">Roles</a></li>
                                <li class="nav-item"><a href="@Url.Action("Index", "User")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "nav-link active" : "nav-link")">User Accounts</a></li>
                            </ul>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Countries"
                            || ViewContext.RouteData.Values["Controller"].ToString() == "Stations"
                            || ViewContext.RouteData.Values["Controller"].ToString() == "Customers"
                            ? "nav-item nav-item-submenu nav-item-expanded nav-item-open" : "nav-item nav-item-submenu")">
                            <a href="#" class="nav-link"><i class="icon-server"></i> <span>Data Master</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Data Master">
                                <li class="nav-item"><a href="@Url.Action("Index", "Customers")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Customers" ? "nav-link active" : "nav-link")">Customers</a></li>
                                <li class="nav-item"><a href="@Url.Action("Index", "Countries")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Countries" ? "nav-link active" : "nav-link")">Countries</a></li>
                                <li class="nav-item"><a href="@Url.Action("Index", "Stations")" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Stations" ? "nav-link active" : "nav-link")">Stations</a></li>
                            </ul>
                        </li>
                        <!-- /setting -->

                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        
        <!-- Main content -->
        @RenderBody()
        <!-- /content wrapper -->

    </div>
    <!-- /page content -->

    <!-- Footer -->
    @*<div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                &copy; 2015 - 2018. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
            </span>
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
                <li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                <li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
            </ul>
        </div>
    </div>*@
    <!-- /footer -->

</body>
</html>