@model IEnumerable<LintasMVC.Models.ShippingsViewModels>

@{
    ViewBag.Root = "Shipping Service";
    ViewBag.Title = "Index";
}

<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <a href="@Url.Action("Index", "Shipping")" class="breadcrumb-item">@ViewBag.Root</a>
                    <span class="breadcrumb-item active">@ViewBag.Title</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">

        <!-- Form inputs -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Root</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("Create", "Shipping")" class="btn btn-sm btn-success">Create New <i class="icon-plus22 ml-2"></i></a>
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Timestamp)</th>
                                <th>@Html.DisplayNameFor(model => model.No)</th>
                                <th>@Html.DisplayNameFor(model => model.Origin)</th>
                                <th>@Html.DisplayNameFor(model => model.Destination)</th>
                                <th>@Html.DisplayNameFor(model => model.Notes)</th>
                                <th>@Html.DisplayNameFor(model => model.Status_enumid)</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                                    <td>@Html.DisplayFor(modelItem => item.No)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Origin)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Destination)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                                    <td>
                                        @if (item.Status_enumid == LintasMVC.Models.ShippingStatusEnum.Cancelled)
                                        {
                                            <span class="badge badge-dark d-block">Cancelled</span>
                                        }
                                        else if (item.Status_enumid == LintasMVC.Models.ShippingStatusEnum.Shipping)
                                        {
                                            <span class="badge bg-orange d-block">Shipping</span>
                                        }
                                        else if (item.Status_enumid == LintasMVC.Models.ShippingStatusEnum.WaitingPayment)
                                        {
                                            <span class="badge badge-warning d-block">Waiting Payment</span>
                                        }
                                        else if (item.Status_enumid == LintasMVC.Models.ShippingStatusEnum.Documents)
                                        {
                                            <span class="badge bg-purple d-block">Documents</span>
                                        }
                                        else if (item.Status_enumid == LintasMVC.Models.ShippingStatusEnum.OnShipments)
                                        {
                                            <span class="badge bg-brown d-block">On Shipments</span>
                                        }
                                        else if (item.Status_enumid == LintasMVC.Models.ShippingStatusEnum.OnDelivery)
                                        {
                                            <span class="badge badge-success d-block">On Delivery</span>
                                        }
                                        else if (item.Status_enumid == LintasMVC.Models.ShippingStatusEnum.Completed)
                                        {
                                            <span class="badge badge-primary d-block">Completed</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (item.Status_enumid == LintasMVC.Models.ShippingStatusEnum.Cancelled)
                                        {
                                            <a href="#" onclick="Views('@item.Id', '@item.No', '@item.Origin', '@item.Destination')">Views</a>
                                        }
                                        else
                                        {
                                            <a href="#" onclick="Views('@item.Id', '@item.No', '@item.Origin', '@item.Destination')">Views</a> @:|
                                            <a href="@Url.Action("Create", "Shipping", new { id = item.Id })">Edit</a> @:|
                                            <a href="#" onclick="Cancelled('@item.Id', '@item.No', '@item.Origin', '@item.Destination')">Cancel</a>
                                        }
                                        @*<div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item" onclick="Views('@item.Id', '@item.No', '@item.Origin', '@item.Destination')"><i class="icon-eye"></i> Views</a>
                                                    <a href="@Url.Action("Create", "Shipping", new { id = item.Id })" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                                </div>
                                            </div>
                                        </div>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form inputs -->

    </div>
    <!-- /content area -->

</div>
<script type="text/javascript">
    function Views(id, no, origin, destination) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetShippingItem", "Conciergeplus")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Shipping No: ' + no + ' ( ' + origin + ' - ' + destination + ' )',
                    message: data.content,
                    backdrop: true,
                    size: 'large'
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function Cancelled(id, no, origin, destination) {
        bootbox.confirm({
            message: "Are you sure want to cancel Shipping No: " + no + " ( " + origin + " - " + destination + " ) ?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("CancelShipping", "Shipping")',
                        data: {
                            id: id
                        },
                        success: function (data) {
                            location.reload();
                        }, //end success
                        error: function (result) {
                            bootbox.alert("Error " + result);
                        } //end error
                    }); //end ajax
                }
            }
        });
    }

    $(document).ready(function () {
        // Setting datatable defaults
        $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [{
                orderable: false,
                //width: 100,
                targets: [6]
            }],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
            }
        });

        $('.datatable').DataTable({
            pagingType: 'full_numbers',
            order: [[0, 'desc']]
        });
    });
</script>