@model LintasMVC.Models.LabelViewModels

@{
    Layout = null;
    ViewBag.Title = "Label";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/assets/js/main/jquery.min.js"></script>
    <script src="~/assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/assets/js/plugins/forms/wizards/steps.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/plugins/barcode/JsBarcode.all.min.js"></script>
    <!-- /theme JS files -->
</head>
<body class="bg-slate-800">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <!-- Invoice template -->
                <div class="card">
                    <div class="card-header bg-transparent header-elements-inline">
                        <h6 class="card-title">Label Package</h6>
                        <div class="header-elements">
                            <button type="button" class="btn btn-light btn-sm ml-3" onclick="print_exec()"><i class="icon-printer mr-2"></i> Print</button>
                        </div>
                    </div>

                    <div class="card-body" id="print-area">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-lg table-bordered">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" align="center">
                                                    No. Package <br />
                                                    <svg class="barcode_pkg"
                                                         jsbarcode-height="60"
                                                         jsbarcode-value="@string.Format("{0}{1}", "PKG", Model.ShippingItems.No)"
                                                         jsbarcode-textmargin="0"
                                                         jsbarcode-fontoptions="bold">
                                                    </svg>
                                                </td>
                                                <td colspan="4" align="center">
                                                    No. Shipping <br />
                                                    <svg class="barcode_shipping"
                                                            jsbarcode-height="60"
                                                            jsbarcode-value="@Model.NoShipping"
                                                            jsbarcode-textmargin="0"
                                                            jsbarcode-fontoptions="bold">
                                                    </svg>
                                                </td>
                                                <td colspan="4" align="center">
                                                    Courier Info <br />
                                                    @if (!string.IsNullOrEmpty(Model.ShippingItems.CourierInfo))
                                                    {
                                                        <svg class="barcode_courier"
                                                             jsbarcode-height="60"
                                                             jsbarcode-value="@Model.ShippingItems.CourierInfo"
                                                             jsbarcode-textmargin="0"
                                                             jsbarcode-fontoptions="bold">
                                                        </svg>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">Length: @Model.ShippingItems.Length cm</td>
                                                <td colspan="3">Width: @Model.ShippingItems.Width cm</td>
                                                <td colspan="3">Height: @Model.ShippingItems.Height cm</td>
                                                <td colspan="3">Weight: @Model.ShippingItems.Weight gr</td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">Origin: @Model.OriginStation.Name</td>
                                                <td colspan="6">Destination: @Model.DestinationStation.Name</td>
                                            </tr>
                                            <tr>
                                                <td colspan="8">
                                                    Customer Info: <br />
                                                    @Model.Shippings.ReceiverName <br />
                                                    @Model.Shippings.Address <br />
                                                    @Model.Shippings.Address2 <br />
                                                    @Model.Shippings.City @Model.Shippings.PostalCode <br />
                                                    @Model.Shippings.State @Model.Shippings.Country <br />
                                                    @Model.Shippings.Phone1 / @Model.Shippings.Phone2
                                                </td>
                                                <td colspan="4">
                                                    Notes: <br />
                                                    @Model.ShippingItems.Notes
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <span class="text-muted">Configure your printer setting to get actual size of label.</span>
                    </div>
                </div>
                <!-- /invoice template -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->

    <script type="text/javascript">
        function print_exec() {
            var printContents = document.getElementById('print-area').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

        $(document).ready(function () {
            JsBarcode('.barcode_pkg').init();
            JsBarcode('.barcode_shipping').init();
            JsBarcode('.barcode_courier').init();
        });
    </script>
</body>
</html>