@model LintasMVC.Models.FileUploadsModels

@{
    ViewBag.Root = "Shipping Service";
    ViewBag.Title = "Upload Document";
}

<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <a href="@Url.Action("Index", "Shipping")" class="breadcrumb-item">@ViewBag.Root</a>
                    <span class="breadcrumb-item active">@ViewBag.Title</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm("UploadDocument", "Shipping", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Ref_Id)
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">@ViewBag.Root</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">@ViewBag.Title</legend>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Package</label>
                            <div class="col-lg-5">
                                @Html.Editor("Package", new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Package, @readonly = "readonly" } })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.Ref_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Document(s)</label>
                            <div class="col-lg-5">
                                <div class="custom-file">
                                    <input class="form-control custom-file-input" type="file" id="files" name="files" multiple />
                                    <label class="custom-file-label">Choose File...</label>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessage("Document", "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <div>
                        <a href="@Url.Action("Index", "Shipping")" class="btn btn-warning">Cancel <i class="icon-cross2 ml-2"></i></a>
                        <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </div>
            </div>
			<!-- /form inputs -->
        }
    </div>
    <!-- /content area -->

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();

        $('.tanggal').pickadate({
            format: 'yyyy/mm/dd',
            selectMonths: true,
            selectYears: true
        });

        $('.custom-file-input').on('change', function () {
            var fileLabel = $(this).next('.custom-file-label');
            var files = $(this)[0].files;
            if (files.length > 1) {
                fileLabel.html(files.length + ' files selected');
            }
            else if (files.length == 1) {
                fileLabel.html(files[0].name);
            }

            //var fileName = $(this).val().split('\\').pop();
            //$(this).next('.custom-file-label').html(fileName);
        });
    });
</script>