@model LintasMVC.Models.ConciergeplusModels

@{
    ViewBag.Root = "Concierge Service Plus";
    ViewBag.Title = "Create";
}

<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <a href="@Url.Action("Index", "Conciergeplus")" class="breadcrumb-item">@ViewBag.Root</a>
                    <span class="breadcrumb-item active">@ViewBag.Title</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">

        <!-- Wizard with validation -->
        <div class="card">
            <div class="card-header bg-white header-elements-inline">
                @Html.HiddenFor(model => model.Order.Id)
                @Html.HiddenFor(model => model.Invoice.Id)
                @Html.HiddenFor(model => model.Invoice.TotalAmount)
                @Html.Hidden("RedirectUrl")
                <h6 class="card-title">No Order: <label class="no-order">@(Model.Order.No == null ? "" : Model.Order.Timestamp.ToString("yyyyMMdd") + Model.Order.No)</label></h6>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>

            <form class="wizard-form steps-validation" action="#" data-fouc>
                <!-- Order -->
                <h6>Order</h6>
                <fieldset>
                    <label class="order-validation text-danger" style="display: none"></label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Order Date: <span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.Order.Timestamp, new { htmlAttributes = new { @class = "form-control", @Value = Model.Order.No == null ? DateTime.Today.ToString("yyyy/MM/dd") : Model.Order.Timestamp.ToString("yyyy/MM/dd"), @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer: <span class="text-danger">*</span></label>
                                <a href="@Url.Action("Create", "Customers")" class="btn btn-link" style="right: 0; position: absolute">Add New Customer</a>
                                @Html.DropDownListFor(model => model.Order.Customers_Id, ViewBag.listCustomers as SelectList, "Select Customer", new { @class = "form-control select2" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Stations: <span class="text-danger">*</span></label>
                                <a href="@Url.Action("Create", "Stations")" class="btn btn-link" style="right: 0; position: absolute">Add New Station</a>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => model.Order.Origin_Stations_Id, ViewBag.listStations as SelectList, "Select Origin", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => model.Order.Destination_Stations_Id, ViewBag.listStations as SelectList, "Select Destination", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Notes:</label>
                                @Html.EditorFor(model => model.Order.Notes, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.listItems == null)
                    {
                        <button type="button" class="btn btn-success btn-sm" onclick="AddOrderItem()"><i class="icon-plus2 mr-2"></i> Add New Item</button>
                    }
                    @Html.Hidden("OrderItems")
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:5% !important"></th>
                                    <th style="width:40% !important">Description: <span class="text-danger">*</span></th>
                                    <th style="width:10% !important">Qty: <span class="text-danger">*</span></th>
                                    <th style="width:20% !important">Amount: <span class="text-danger">*</span></th>
                                    <th style="width:25% !important">Notes:</th>
                                </tr>
                            </thead>
                            <tbody id="data-body-order">
                                @{ int row = 0; }
                                @if (ViewBag.listItems == null)
                                {
                                    <tr id="order_0">
                                        <td align="center" style="vertical-align:middle"><a href="#" onclick="RemoveOrderItem(0)" class="text-danger"><i class="icon-cross icon-2x"></i></a></td>
                                        <td><input type="text" class="form-control desc" /></td>
                                        <td><input type="text" class="form-control qty text-right" /></td>
                                        <td><input type="text" class="form-control text-right cost-order" onkeyup="order_math_total_price()" /></td>
                                        <td><input type="text" class="form-control note" /></td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in ViewBag.listItems)
                                    {
                                        <tr id="order_@row">
                                            @*<td align="center" style="vertical-align:middle"><a href="#" onclick="RemoveOrderItem(@row)" class="text-danger"><i class="icon-cross icon-2x"></i></a></td>*@
                                            <td></td>
                                            <td><input type="text" class="form-control desc" value="@item.Description" /></td>
                                            <td><input type="text" class="form-control qty text-right" value="@item.Qty" /></td>
                                            <td><input type="text" class="form-control text-right cost-order" value="@item.Amount" onkeyup="order_math_total_price()" /></td>
                                            <td><input type="text" class="form-control note" value="@item.Notes" /></td>
                                        </tr>
                                        @(row++)
                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3" class="text-right">TOTAL AMOUNT</th>
                                    <th class="text-right total-cost-order">0</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div style="float: right; margin-bottom: 20px">
                        <a href="@Url.Action("Index", "Conciergeplus")" class="btn btn-warning btn-sm">Back to List</a>
                        <button type="button" class="btn btn-primary btn-sm previous-step" disabled><i class="icon-arrow-left13 mr-2"></i> Previous</button>
                        <button type="button" class="btn btn-primary btn-sm next-step">Next <i class="icon-arrow-right14 ml-2"></i></button>
                    </div>
                </fieldset>
                <!-- /Order -->
                <!-- Invoice -->
                <h6>Invoice</h6>
                <fieldset>
                    <label class="invoice-validation text-danger" style="display: none"></label>
                    <div class="row div-insert-inv">
                        <a href="@Url.Action("Invoice", "Conciergeplus", new { id = Model.Order.Id })" class="btn btn-sm btn-success btn-insert-inv">Add New Invoice</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Invoice.Timestamp)</th>
                                    <th>@Html.DisplayNameFor(model => model.Invoice.No)</th>
                                    <th>@Html.DisplayNameFor(model => model.Invoice.TotalAmount)</th>
                                    <th>@Html.DisplayNameFor(model => model.Invoice.TotalPaid)</th>
                                    <th>@Html.DisplayNameFor(model => model.Invoice.Notes)</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ListInvoice != null)
                                {
                                    foreach (var item in Model.ListInvoice)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                                            <td>@Html.DisplayFor(modelItem => item.No)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TotalPaid)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                                            <td class="text-center" style="color: black">
                                                <a href="#" onclick="ViewInvoices('@item.Id', '@item.No')">Views</a> |
                                                @Html.ActionLink("Delete", "DeleteInvoice", new { id = item.Id })
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div style="float: right; margin-bottom: 20px">
                        <a href="@Url.Action("Index", "Conciergeplus")" class="btn btn-warning btn-sm">Back to List</a>
                        <button type="button" class="btn btn-primary btn-sm previous-step"><i class="icon-arrow-left13 mr-2"></i> Previous</button>
                        <button type="button" class="btn btn-primary btn-sm next-step">Next <i class="icon-arrow-right14 ml-2"></i></button>
                    </div>
                </fieldset>
                <!-- /Invoice -->
                <!-- Payment -->
                <h6>Payment</h6>
                <fieldset>
                    <label class="payment-validation text-danger" style="display: none"></label>
                    <div>
                        <a href="@Url.Action("Payment", "Conciergeplus", new { id = Model.Order.Id })" class="btn btn-sm btn-success">Add New Payment</a>
                        <span style="float: right; margin: 5px" class="badge badge-flat border-danger text-danger-600 text-uppercase">Total Remaining: @(string.Format("{0:N2}", Model.ListInvoice.Sum(x => x.TotalAmount) - Model.ListInvoice.Sum(x => x.TotalPaid)))</span>
                        <span style="float: right; margin: 5px" class="badge badge-flat border-success text-success-600 text-uppercase">Total Paid: @(string.Format("{0:N2}", Model.ListInvoice.Sum(x => x.TotalPaid)))</span>
                        <span style="float: right; margin: 5px" class="badge badge-flat border-primary text-primary-600 text-uppercase">Total Invoice: @(string.Format("{0:N2}", Model.ListInvoice.Sum(x => x.TotalAmount))) ( @Model.ListInvoice.Count Invoice )</span>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Invoice No.</th>
                                    <th>Amount</th>
                                    <th>Info</th>
                                    <th>Notes</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListPayment)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                                        <td>@Html.DisplayFor(modelItem => item.InvoiceNo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Info)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                                        <td class="text-center">
                                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                                            @Html.ActionLink("Delete", "DeletePayment", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div style="float: right; margin-bottom: 20px">
                        <a href="@Url.Action("Index", "Conciergeplus")" class="btn btn-warning btn-sm">Back to List</a>
                        <button type="button" class="btn btn-primary btn-sm previous-step"><i class="icon-arrow-left13 mr-2"></i> Previous</button>
                        <button type="button" class="btn btn-primary btn-sm next-step">Next <i class="icon-arrow-right14 ml-2"></i></button>
                    </div>
                </fieldset>
                <!-- /Payment -->
                <!-- Purchasing -->
                <h6>Purchasing</h6>
                <fieldset>
                    <label class="purchasing-validation text-danger" style="display: none"></label>
                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Amount</th>
                                    <th>Purchase Date</th>
                                    <th>Receive Date</th>
                                    <th>Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody id="data-body-purchasing">
                                @foreach (var item in Model.ListOrderItem)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Qty)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PurchaseTimestamp)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ReceiveTimestamp)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status_enumid)</td>
                                        <td class="text-center">
                                            <a href="#" onclick="ViewLogs('@item.Id')">Views Log</a> |
                                            @Html.ActionLink("Change Status", "OrderItemLog", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div style="float: right; margin-bottom: 20px">
                        <a href="@Url.Action("Index", "Conciergeplus")" class="btn btn-warning btn-sm">Back to List</a>
                        <button type="button" class="btn btn-primary btn-sm previous-step"><i class="icon-arrow-left13 mr-2"></i> Previous</button>
                        <button type="button" class="btn btn-primary btn-sm next-step">Next <i class="icon-arrow-right14 ml-2"></i></button>
                    </div>
                </fieldset>
                <!-- /Purchasing -->
                <!-- Packaging -->
                <h6>Packaging</h6>
                <fieldset>
                    <label class="packaging-validation text-danger" style="display: none"></label>
                    <div>
                        <a href="@Url.Action("Package", "Conciergeplus", new { id = Model.Order.Id })" class="btn btn-sm btn-success">Add New Package</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover datatable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Length (cm)</th>
                                    <th>Width (cm)</th>
                                    <th>Height (cm)</th>
                                    <th>Weight (gr)</th>
                                    <th>Notes</th>
                                    <th>Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody id="data-body-purchasing">
                                @foreach (var item in Model.ListShippingItem)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.No)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Length)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Width)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Height)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Status_enumid)</td>
                                        <td class="text-center">
                                            <a href="#" onclick="ViewPackage('@item.Id', '@item.No')">Views Package</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />
                    <div style="float: right; margin-bottom: 20px">
                        <a href="@Url.Action("Index", "Conciergeplus")" class="btn btn-warning btn-sm">Back to List</a>
                        <button type="button" class="btn btn-primary btn-sm previous-step"><i class="icon-arrow-left13 mr-2"></i> Previous</button>
                        <button type="button" class="btn btn-primary btn-sm submit-step">Submit Form <i class="icon-arrow-right14 ml-2"></i></button>
                    </div>
                </fieldset>
                <!-- /Packaging -->
            </form>
        </div>
        <!-- /wizard with validation -->

    </div>
    <!-- /content area -->

</div>
<script type="text/javascript">
    //Form Order
    var order_item_no = 100;
    function AddOrderItem() {
        order_item_no += 1;

        var rowItem = '<tr id="order_' + order_item_no + '">'
                    + '<td align="center" style="vertical-align:middle"><a href="#" onclick="RemoveOrderItem(' + order_item_no + ')" class="text-danger"><i class="icon-cross icon-2x"></i></a></td>'
                    + '<td><input type="text" class="form-control desc" /></td>'
                    + '<td><input type="text" class="form-control qty text-right" /></td>'
                    + '<td><input type="text" class="form-control text-right cost-order" onkeyup="order_math_total_price()" /></td>'
                    + '<td><input type="text" class="form-control note" /></td>'
                    + '</tr>';
        $('#data-body-order').append(rowItem);
    }

    function RemoveOrderItem(no) {
        $('#order_' + no).remove();
        order_math_total_price();
    }

    function order_math_total_price() {
        var total_price = 0;
        $('input.cost-order').each(function () {
            var result = $(this).val().replace(/,/g, '');
            if (result == '') {
                result = 0;
            }
            total_price += parseFloat(result);
        });

        $('.total-cost-order').text(total_price.toLocaleString());
    }

    //Form Invoice
    function ViewInvoices(id, no) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetInvoiceItems", "Conciergeplus")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: no,
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    //Form Payment
    function ViewPayments(id, no) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPayments", "Conciergeplus")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: no,
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    //Form Purchasing
    function ViewLogs(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetLogs", "Conciergeplus")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'History Logs Item',
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    //Form Packaging
    function ViewPackage(id, no) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPackage", "Conciergeplus")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Package Item: ' + no,
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    $(document).ready(function () {

        var form = $('.steps-validation').show();

        // Basic wizard setup
        form.steps({
            headerTag: 'h6',
            bodyTag: 'fieldset',
            transitionEffect: 'fade',
            enableAllSteps: false,
            enablePagination: false,
            titleTemplate: '<span class="number">#index#</span> #title#',
            autoFocus: true,
            startIndex: @ViewBag.startIndex,
            labels: {
                previous: '<i class="icon-arrow-left13 mr-2" /> Previous',
                next: 'Next <i class="icon-arrow-right14 ml-2" />',
                finish: 'Submit form <i class="icon-arrow-right14 ml-2" />'
            },
            onStepChanging: function (event, currentIndex, newIndex) {

                // Allways allow previous action even if the current form is not valid!
                if (currentIndex > newIndex) {
                    return true;
                }

                // Needed in some cases if the user went back (clean up)
                if (currentIndex < newIndex) {

                    // To remove error styles
                    form.find('.body:eq(' + newIndex + ') label.error').remove();
                    form.find('.body:eq(' + newIndex + ') .error').removeClass('error');
                }

                if (currentIndex === 0) {
                    var arrItem = [];
                    var isValid = true;
                    $('#data-body-order tr').each(function () {
                        var desc = $(this).find('input.desc').val();
                        var qty = parseFloat($(this).find('input.qty').val());
                        var cost = parseFloat($(this).find('input.cost-order').val());
                        var note = $(this).find('input.note').val();
                        var obj = { desc: desc, qty: qty, cost: cost, note: note };
                        arrItem.push(obj);

                        if (desc == '') { isValid = false; }
                        if ($(this).find('input.qty').val() == '') { isValid = false; }
                        if ($(this).find('input.cost-order').val() == '') { isValid = false; }
                    });
                    $('#OrderItems').val(JSON.stringify(arrItem));

                    if ($('#Order_Customers_Id').val() == '') {
                        $('.order-validation').html('The Customer field is required.').show();
                        return false;
                    }
                    else if ($('#Order_Origin_Stations_Id').val() == '') {
                        $('.order-validation').html('The Origin Station field is required.').show();
                        return false;
                    }
                    else if ($('#Order_Destination_Stations_Id').val() == '') {
                        $('.order-validation').html('The Destination Station field is required.').show();
                        return false;
                    }
                    else if(!isValid) {
                        $('.order-validation').html('The Order Item Description, Qty and Amount field is required.').show();
                        return false;
                    }
                    else {
                        $('.order-validation').html('').hide();

                        var isSuccess = true;
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveOrder", "Conciergeplus")',
                            data: {
                                order_id: $('#Order_Id').val(),
                                order_date: $('#Order_Timestamp').val(),
                                customer_id: $('#Order_Customers_Id').val(),
                                origin_id: $('#Order_Origin_Stations_Id').val(),
                                destination_id: $('#Order_Destination_Stations_Id').val(),
                                notes: $('#Order_Notes').val(),
                                order_items: $('#OrderItems').val()
                            },
                            success: function (data) {
                                console.log(data);
                                $('#Order_Id').val(data.id);
                                $('.no-order').html(data.no_order);
                                $('#Invoice_Timestamp').val('@DateTime.Today.ToString("yyyy/MM/dd")');

                                if (data.status == 'new') {
                                    var x = $('<a href="' + '@Url.Content("~")' + 'Conciergeplus/Invoice/' + data.id + '" class="btn btn-sm btn-success">Add New Invoice</a>');
                                    $('.btn-insert-inv').hide();
                                    $('.div-insert-inv').append(x);
                                }
                            }, //end success
                            error: function (result) {
                                bootbox.alert("Error " + result);
                                isSuccess = false;
                            } //end error
                        }); //end ajax

                        if (isSuccess) { return true; }
                        else{ return false; }
                    }
                }
                else if (currentIndex === 1) {
                    if (@Model.ListInvoice.Count === 0) {
                        $('.invoice-validation').html('The Invoice is required.').show();
                        return false;
                    }
                    else {
                        $('.invoice-validation').html('').hide();
                        return true;
                    }
                }
                else if (currentIndex === 2) {
                    if ('@Model.Order.Status_enumid' == '@LintasMVC.Models.OrderStatusEnum.Ordered') {
                        $('.payment-validation').html('The Payment still not completed.').show();
                        return false;
                    }
                    else if ('@Model.Order.Status_enumid' == '@LintasMVC.Models.OrderStatusEnum.WaitingPayment') {
                        $('.payment-validation').html('The Payment still not completed.').show();
                        return false;
                    }
                    else {
                        $('.payment-validation').html('').hide();
                        return true;
                    }
                }
                else if (currentIndex === 3) {
                    return true;
                }

                //form.validate().settings.ignore = ':disabled,:hidden';
                //return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {

            },
            onFinishing: function (event, currentIndex) {
                //form.validate().settings.ignore = ':disabled';
                //return form.valid();

                if (currentIndex === 4) {
                    return true;
                }
            },
            onFinished: function (event, currentIndex) {
                window.location.href = '@Url.Action("Index", "Home")';
            }
        });

        $('.previous-step').click(function () {
            form.steps('previous');
        });

        $('.next-step').click(function () {
            form.steps('next');
        });

        $('.submit-step').click(function () {
            form.steps('finish');
        });

        // Select2
        $('.select2').select2();
        $('.form-control-select2').select2({
            minimumResultsForSearch: Infinity
        });

        order_math_total_price();

    });
</script>