@model IEnumerable<LintasMVC.Models.OrdersIndexViewModels>

@{
    ViewBag.Root = "Concierge Service Plus";
    ViewBag.Title = "Index";
}

<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <a href="@Url.Action("Index", "Conciergeplus")" class="breadcrumb-item">@ViewBag.Root</a>
                    <span class="breadcrumb-item active">@ViewBag.Title</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">

        <!-- Form inputs -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Root</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("Create", "Conciergeplus")" class="btn btn-sm btn-success">Create New <i class="icon-plus22 ml-2"></i></a>
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.No)</th>
                                <th>@Html.DisplayNameFor(model => model.Customer)</th>
                                <th>@Html.DisplayNameFor(model => model.Origin)</th>
                                <th>@Html.DisplayNameFor(model => model.Destination)</th>
                                <th>@Html.DisplayNameFor(model => model.Notes)</th>
                                <th>@Html.DisplayNameFor(model => model.Status)</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@(item.Timestamp.ToString("yyyyMMdd") + item.No)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Customer)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Origin)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Destination)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                                    <td>
                                        @if (item.Status == LintasMVC.Models.OrderStatusEnum.Ordered)
                                        {
                                            <span class="badge badge-secondary d-block">Ordered</span>
                                        }
                                        else if (item.Status == LintasMVC.Models.OrderStatusEnum.WaitingPayment)
                                        {
                                            <span class="badge badge-warning d-block">Waiting Payment</span>
                                        }
                                        else if (item.Status == LintasMVC.Models.OrderStatusEnum.PaymentCompleted)
                                        {
                                            <span class="badge badge-success d-block">Payment Completed</span>
                                        }
                                        else if (item.Status == LintasMVC.Models.OrderStatusEnum.Shipping)
                                        {
                                            <span class="badge badge-info d-block">Shipping</span>
                                        }
                                        else if (item.Status == LintasMVC.Models.OrderStatusEnum.Completed)
                                        {
                                            <span class="badge badge-primary d-block">Completed</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item" onclick="ViewOrders('@item.Id', '@item.Customer', '@item.Origin', '@item.Destination')"><i class="icon-eye"></i> View Orders</a>
                                                    @*@if (item.Status != LintasMVC.Models.OrderStatusEnum.Ordered)
                                                    {
                                                        <a href="#" class="dropdown-item" onclick="ViewInvoices('@item.Id', '@item.Customer')"><i class="icon-file-eye2"></i> View Invoices</a>
                                                    }*@
                                                    @if (item.Status == LintasMVC.Models.OrderStatusEnum.Ordered 
                                                        || item.Status == LintasMVC.Models.OrderStatusEnum.WaitingPayment 
                                                        || item.Status == LintasMVC.Models.OrderStatusEnum.PaymentCompleted)
                                                    {
                                                        <a href="@Url.Action("Create", "Conciergeplus", new { id = item.Id })" class="dropdown-item"><i class="icon-pencil"></i> Edit</a>
                                                    }
                                                    <a href="@Url.Action("Delete", "Conciergeplus", new { id = item.Id })" class="dropdown-item"><i class="icon-bin"></i> Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form inputs -->

    </div>
    <!-- /content area -->

</div>
<script type="text/javascript">
    function ViewOrders(id, customer, origin, destination) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetOrderItems", "Conciergeplus")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: customer + ' ( ' + origin + ' - ' + destination + ' )',
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function ViewInvoices(id, customer) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetInvoiceItems", "Conciergeplus")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: customer,
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    $(document).ready(function () {
        // Setting datatable defaults
        $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [{
                orderable: false,
                width: 100,
                targets: [6]
            }],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
            }
        });

        $('.datatable').DataTable({
            pagingType: 'full_numbers',
            order: [[0, 'desc']]
        });
    });
</script>