@model LintasMVC.Models.OrderItemLogViewModels

@{
    ViewBag.Root = "Concierge Service Plus";
    ViewBag.Title = "Change Status";
    ViewBag.SubTitle = "Order Item Log";
}

<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <a href="@Url.Action("Index", "Conciergeplus")" class="breadcrumb-item">@ViewBag.Root</a>
                    <span class="breadcrumb-item active">@ViewBag.Title</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.OrderItem.Id)
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">@ViewBag.Root</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">@ViewBag.Title</legend>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Item</label>
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.OrderItem.Description, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.OrderItem.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Qty / Amount</label>
                            <div class="col-lg-5">
                                <div class="form-group row">
                                    <div class="col-lg-5">
                                        @Html.EditorFor(model => model.OrderItem.Qty, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                    <div class="col-lg-7">
                                        @Html.EditorFor(model => model.OrderItem.Amount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.OrderItem.Qty, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(model => model.OrderItem.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-2">Desc. Log</label>
                            <div class="col-lg-5">
                                @Html.TextArea("DescriptionLog", new { @class = "form-control", @rows = 3 })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessage("DescriptionLog", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.OrderItem.Status_enumid, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.EnumDropDownListFor(model => model.OrderItem.Status_enumid, new { @class = "form-control" })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.OrderItem.Status_enumid, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div>
                            <a href="@Url.Action("Index", "Conciergeplus")" class="btn btn-warning">Cancel <i class="icon-cross2 ml-2"></i></a>
                            <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
                        </div>
                        <br />
                        <legend class="text-uppercase font-size-sm font-weight-bold">@ViewBag.SubTitle</legend>
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 20% !important">Timestamp</th>
                                            <th style="width: 60% !important">Description</th>
                                            <th style="width: 20% !important">Created By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ListOrderItemLog)
                                        {
                                            <tr>
                                                <td>@item.Timestamp</td>
                                                <td>@item.Description</td>
                                                <td>
                                                    @{ 
                                                        string name;
                                                        using (var ctx = new LintasMVC.Models.LintasContext())
                                                        {
                                                            name = ctx.User.Where(x => x.Id == item.UserAccounts_Id).FirstOrDefault().Fullname;
                                                        }
                                                    }
                                                    @name
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
			<!-- /form inputs -->
        }
    </div>
    <!-- /content area -->

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();

        $('.tanggal').pickadate({
            format: 'yyyy/mm/dd',
            selectMonths: true,
            selectYears: true
        });
    });
</script>